{% extends "header.html" %}

{% block body %}

<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2> Hello {{session['username']}}</h2>
			<br/>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Weekly Sum</th>
					</tr>
				</thead>
				<tbody>
					{% start = expenses[0].date %}
					{% sum = 0 %}
					{% i = 0 %}
					{% while i < len(expenses) %}
						{% while expenses[i].date < start + 7 and i < len(expenses) %}
							{% sum += expenses[i].price %}
							{% i += 1 %}
						{% endwhile %}
						<tr>
							<td> {{start + '-' expenses[i-1].date}} </td>
							<td> {{sum}} </td>
						</tr>
						{% if i < len(expenses) %}
							{% start = expenses[i].date %}
						{% endif %}
						{% sum = 0 %}
					{% endwhile %}
				</tbody>
			</table>
			<a href="{{url_for('loggedInHome', user_id = user_id)}}" class="btn btn-default" role="button">Back</a>
		</div>
	</div>
</div>

{% endblock %}